.dropdown-menu{
	position:absolute;
	top:100%;
	left:inherit;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	font-size:14px;
	text-align:left;
	list-style:none;
	background-color:#2d6ca2;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,.15);
  font-weight: bold;
}

.dropdown-menu > li > a{
  background-color: #2d6ca2;
  font-weight: bold;
  cursor: pointer;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #2d6ca2;
  font-weight: bold;
  background-repeat: repeat-x;
  opacity: 0.5;
  cursor: pointer;
}




.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
	color:#fff;
	background-color:#2d6ca2;
  opacity: 0.5;
}


.multiselect-container {
  padding: 15px;
  font-size: 12px;
  clear: both;
  position:absolute;
  left: inherit;
  max-width:350px;
}
.multisect {
  padding: 15px;
}

.multiselect-container > li {
  display: list-item;
  padding: 0px;
  margin: 1px;
  line-height: 0px;
}
.multiselect-container > li > a > label {
  line-height: 12px;
  margin: 0px;
  padding: 0px;
  height: 12px;
}
.multiselect-container > li > a > label > input{
  height: 12px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

.input-group {
  margin-bottom: 12px;
}


.main_handle {
  width: 15px;
  height: 15px;
  border: 5px solid lightgray;
  background-color: white;
  border-radius: 20px;
  color: Crimson;
  margin-left: -20px;
  margin-right: 10px;
  margin-top: -5px;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  font-weight:bold; 
  opacity: 0.5;
}
.main_handle:hover {opacity: 1; border: 5px solid gray;}


.submit3 .icon-bar{
	display:block;
	width:15px;
	height:2px;
	border-radius:1px;
  background-color:white;
}

.submit3 .icon-bar+.icon-bar{
	margin-top:4px
} 

.select_button {
  float: left;
}
.select_button > button {
  margin-right: 3px;
}

button.close{
	-webkit-appearance:none;
	padding-top:0;
  padding-bottom:3px;
  padding-left:0;
  padding-right:0;
	cursor:pointer;
	background:0 0;
  margin-right: -25px;
  margin-top: -10px;
  line-height: 15px;
  height: 25px;
  width: 25px;
  border-radius: 10px;
}
