.htaccess
.htusers
.idea
main.js
triples/.htaccess
triples/.htusers
prison/
private/
prison_old/
*.swp
*.pyc
dev/
data/BAI-test.tsv
data/Tujia-example.tsv
data/Tujia.tsv
data/bai-demo.tsv
data/beida-subset-aligned.tsv
data/burmish2.tsv
data/cognates.tsv
data/concepticon.tsv
data/hou2004.tsv
data/ielurl-aligned-t03.tsv
data/lexibench/
data/tls.tsv
data/turkic_bayes.tsv
data/yinku.tsv
data/zgraggen.tsv
alms/
.info
dighl/
old/
triples/rechte.py
*.zip

